<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<ion-header [translucent]="true">
  <ion-toolbar color="primary" id="main-content">
    <a href="../agenda/">
      <img src="../../assets/img/Logo_sem_nome.png" alt="Logo da Prudente Casa Pet" class="logo">
    </a>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="handleScroll($event)">
  <ion-header collapse="condense">
    <ion-toolbar color="primary" id="main-content">
      <img src="../../assets/img/Logo_sem_nome.png" alt="Logo da Prudente Casa Pet" class="logo">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<div id="container">
  <ion-menu side="end" contentId="main-content" menuId="menu" (ionDidOpen)="menuAberto()">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="primary" class="ion-padding">
      <div><a href="../agenda/">Agenda</a></div>
      <div><a href="../pet">Pets</a></div>
      <div><a href="../tutor">Tutores</a></div>
      <div><a href="../procedimentos">Tipos de procedimento</a></div>
      <div><a href="../pagamento-efetuado">Pagamentos efetuados</a></div>
      <div><a href="../pagamento-pendente">Pagamentos pendentes</a></div>
      <div><a href="../servico">Serviços</a></div>
    </ion-content>
    <div class="sair"><a (click)="sair()" href="/home">Sair</a></div>
  </ion-menu>
  <ion-row>
    <ion-col size="3" class="divInicio"><ion-title class="tituloPagina">Pets</ion-title></ion-col>
    <ion-col size="6" class="divInicio"><ion-searchbar placeholder="Pesquisar" [debounce]="800" (ionInput)="handleInput($event)"></ion-searchbar></ion-col>
    <ion-col size="3" class="divInicio">
      <ion-fab>
        <ion-fab-button (click)="modalAdicionarPet()">
          <ion-icon name="add" id="adicionarPet"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="elementos" *ngIf="verificarArray(getAPI('listar', 'pet', parametro))===true">
          <div class="elemento" *ngFor="let pet of getAPI('listar', 'pet', parametro)">
            <div class="primeiraLinha">
              <p class="titulo">{{pet.nome}} - {{getAPI('listar', 'tutor', pet.cod_tutor)[0].nome}}</p>
              <div class="botoes">
                <ion-fab-button size="small" (click)="abrirProcedimentos(pet)">
                  <span class="material-symbols-outlined">vaccines</span>
                </ion-fab-button>
                <ion-fab-button size="small" (click)="abrirPacotes(pet)">
                  <ion-icon name="briefcase"></ion-icon>
                </ion-fab-button>
                <ion-fab-button size="small" (click)="modalAtualizarPet(pet)">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button size="small" (click)="modalDeletarPet(pet)">
                  <ion-icon name="trash"></ion-icon>
                </ion-fab-button>
              </div>
            </div>
            <div class="segundaLinha">
              <ul>
                <li><b>Espécie:</b> {{pet.especie}}</li>
                <li><b>Raça:</b> {{pet.raca}}</li>
                <li><b>Porte:</b> {{pet.porte==='G'?'Grande': pet.porte==='M'?'Médio': 'Pequeno'}}</li>
                <li><b>Sociabilidade:</b> {{pet.sociabilidade==='0'?'Sim':'Não'}}</li>
                <li><b>Observação:</b> {{pet.observacoes}}</li>
              </ul>
            </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</div>
<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>
</ion-content>