
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&display=swap');


.elementos{
    background: var(--ion-color-tertiary);
    border-radius: 1.5em;
    margin: 2em;
    padding: 0.5em 1.5em;
}

.primeiraLinha{
    display: flex;
    // align-items: center;
    justify-content: space-between;
}

.botoes{
    display: flex;
}


.titulo{
    font-size: 3em;
    // font-weight: bolder;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    
}

.listagem{
    font-weight: bolder;
    font-size: 1.2em;
    margin-top: 1em;
}
.segundaLinha{
    margin-bottom: 3em;
}
