<ion-header [translucent]="true">
  <ion-toolbar color="primary" id="main-content">
    <a href="../agenda/">
      <img src="../../assets/img/Logo_sem_nome.png" alt="Logo da Prudente Casa Pet" class="logo">
    </a>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary" id="main-content">
      <img src="../../assets/img/Logo_sem_nome.png" alt="Logo da Prudente Casa Pet" class="logo">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<div id="container">
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="primary" class="ion-padding">
      <div><a href="../agenda/">Agenda</a></div>
      <div><a href="../pet">Pets</a></div>
      <div><a href="../tutor">Tutores</a></div>
      <div><a href="../procedimentos">Tipos de procedimento</a></div>
      <div><a href="../pagamento-efetuado">Pagamentos efetuados</a></div>
      <div><a href="../pagamento-pendente">Pagamentos pendentes</a></div>
      <div><a href="../servico">Serviços</a></div>
    </ion-content>
  </ion-menu>

  <ion-row>
    <ion-col size="4" class="divInicioTitulo">
      <ion-row>
        <ion-col size="12">
          <div class="titulo">
          <ion-title class="tituloSuperior">Pagamentos</ion-title>
          <ion-title class="tituloPagina">Pendentes</ion-title>
        </div>
      </ion-col>
      </ion-row>
    
    </ion-col>
    <ion-col size="6" class="divInicio"><ion-searchbar placeholder="Pesquisar"></ion-searchbar></ion-col>
  </ion-row>

  <ion-row class="mes">
    <ion-col size="12">
      <ion-item>
        <p class="Mes" (click)="modalSelecionarMes()">{{data}}</p>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <div class="elementos" *ngIf="verificarArray(buscarAPI('listar', 'pagamento_pendente', parametro))===true">
          <div class="elemento" *ngFor="let pagamento of buscarAPI('listar', 'pagamento_pendente', parametro)">
            <ng-container *ngIf="pagamento.tutor.includes(pesquisa) || pesquisa === ''">
              <div class="primeiraLinha">
                <p class="titulo">{{pagamento.data}} - {{pagamento.tutor}}</p>
                <div class="botoes">
                  <ion-icon name="card"></ion-icon>
                </div>
              </div>
              <div class="segundaLinha">
                <ul>
                  <li><b>Valor:</b> R$ {{pagamento.valor}}</li>
                  <li><b>Desconto:</b> R$ {{pagamento.desconto}}</li>
                  <li><b>Valor Total:</b> R$ {{pagamento.total}}</li>
                </ul>
              </div>
            </ng-container>
        </div>
      </div>
    </ion-col>
  </ion-row>

</div>

<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>
</ion-content>