@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&display=swap');

// Menu
a{
    color: var(--ion-color-light);
    text-decoration: none;
    font-size: 1.4em;
    margin: 3em 0.5em;
}

a:hover{
    color: var(--ion-color-secondary);
}

// Pagamento pendente

#container{
    min-height: calc(100vh - 112px);
}

.logo{
    height: 48px;
    margin-left: 25px;
}

.tituloPagina{
    font-size: 1.9em;
    font-family: 'Abril Fatface', cursive;
    line-height: 90%;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.tituloSuperior{
    display: flex;
    margin-left: 4.5em;
    font-size: 1em;
    font-family: 'Abril Fatface', cursive;
    line-height: 130%;
    margin-top: 1.5em;
}

.elementos{
    background: var(--ion-color-tertiary);
    border-radius: 2.5em;
    margin: 1em 2em 2em 2em;
    padding: 0.8em 3.5em;
}

.primeiraLinha{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.divInicio{
    display: flex;
    align-items: center;
}

.titulo{
    font-weight: bolder;
    font-size: 1.5em;
}

.elemento{
    border-bottom: 1px solid var(--ion-color-primary);
    margin-top: 8px;
}

.elemento:last-child{
    border-bottom: none;
}

ion-searchbar{
    margin-bottom: 1.5em;
}


.Mes{
    font-size: 1.3em;
    font-family: 'Playfair Display', serif;
    margin-left: 5.5em;
}
