<div class="container">
  <ion-row>
      <ion-col size="12" class="centro">
          <ion-title class="ion-text-center">Atualizar</ion-title>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-padding centro">
        <label for="servico" class="etiqueta">Servico</label>
        <select name="servico" id="servico" class="input" [(ngModel)]="servico">
            <option value="1">Day Care</option>
            <option value="2">Hospedagem</option>
        </select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-padding centro">
        <label for="data_saida" class="etiqueta">Data</label>
        <input type="date" name="data" id="data" class="input" [(ngModel)]="data">
    </ion-col>
  </ion-row>
  <ion-row *ngIf="servico === '2'">
    <ion-col size="12" class="ion-padding centro">
        <label for="data_saida" class="etiqueta">Data de Saída</label>
        <input type="date" name="data_saida" id="data_saida" class="input" [(ngModel)]="data_saida" min="data">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-padding centro">
      <label for="qtd_banho" class="etiqueta">Banho</label>
      <ng-container *ngIf="servico === '1'">
        <select name="qtd_banho" id="qtd_banho" class="input" [(ngModel)]="qtd_banho">
            <option value="1">Sim</option>
            <option value="0">Não</option>
          </select>
      </ng-container>
      <ng-container *ngIf="servico === '2'">
        <input type="number" name="qtd_banho" id="qtd_banho" class="input" [(ngModel)]="qtd_banho">
      </ng-container>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-padding centro">
        <label for="observacao" class="etiqueta">Observação</label>
        <input type="text" name="observacao" id="observacao" class="input" [(ngModel)]="observacao">
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding botao">
          <ion-button shape="round" (click)="atualizarAgendamento(customData.cod_agendamento)">Salvar</ion-button>
      </ion-col>
  </ion-row>
</div>
