<div class="container">
    <ion-row size="12" class="centro">
      <ion-col>
        <ion-row >
          <ion-col size="12" class="centro">
              <ion-title class="titulo_pendente">Pagamentos Pendentes</ion-title>
          </ion-col>
          </ion-row>
        <ion-row>
            <ion-col size="12">
              <div class="elementos" >
                  <div class="elemento">
                      <div class="primeiraLinha">
                        <p class="titulo">08-2023</p>
                        <div class="botoes">
                          <ion-fab-button size="small">
                            <ion-icon name="card"></ion-icon>
                          </ion-fab-button>
                        </div>
                      </div>
                      <div class="segundaLinha">
                        <ul>
                          <li><b>Valor:</b> R$ 80,00</li>
                          <li><b>Desconto:</b> R$ 5,00</li>
                          <li><b>Valor Total:</b> R$ 75,00</li>
                        </ul>
                      </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="elementos" >
                  <div class="elemento">
                      <div class="primeiraLinha">
                        <p class="titulo">08-2023</p>
                        <div class="botoes">
                          <ion-fab-button size="small">
                            <ion-icon name="card"></ion-icon>
                          </ion-fab-button>
                        </div>
                      </div>
                      <div class="segundaLinha">
                        <ul>
                          <li><b>Valor:</b> R$ 80,00</li>
                          <li><b>Desconto:</b> R$ 5,00</li>
                          <li><b>Valor Total:</b> R$ 75,00</li>
                        </ul>
                      </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
  <div class="linha"></div>
    <ion-row size="12" class="centro">
      <ion-col>
        <ion-row >
          <ion-col size="12" class="centro">
              <ion-title class="titulo_efetuado">Pagamentos Efetuados</ion-title>
          </ion-col>
          </ion-row>
        <ion-row>
            <ion-col size="12">
              <div class="elementos" >
                  <div class="elemento">
                      <div class="primeiraLinha">
                        <p class="titulo">08-2023</p>
                      </div>
                      <div class="segundaLinha">
                        <ul>
                          <li><b>Valor:</b> R$ 80,00</li>
                          <li><b>Desconto:</b> R$ 5,00</li>
                          <li><b>Valor Total:</b> R$ 75,00</li>
                          <li><b>Forma:</b> Pix</li>

                        </ul>
                      </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="elementos" >
                  <div class="elemento">
                      <div class="primeiraLinha">
                        <p class="titulo">08-2023</p>
                      </div>
                      <div class="segundaLinha">
                        <ul>
                          <li><b>Valor:</b> R$ 80,00</li>
                          <li><b>Desconto:</b> R$ 5,00</li>
                          <li><b>Valor Total:</b> R$ 75,00</li>
                          <li><b>Forma:</b> Pix</li>

                        </ul>
                      </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
</div>