<ion-content>
    <ion-row>
        <ion-col size="12" class="centro">
            <ion-title class="ion-text-center">Adicionar</ion-title>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-padding centro">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-padding centro">
            <label for="tutor">Tutor</label>
            <input type="text" name="tutor" id="tutor">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-padding centro">
            <label for="especie">Espécie</label>
            <input type="text" name="especie" id="especie">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-padding centro">
            <label for="raca">Raça</label>
            <input type="text" name="raca" id="raca">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-padding centro">
            <label for="porte">Porte</label>
            <input type="text" name="porte" id="porte">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-padding centro">
            <label for="porte">Porte</label>
            <label class="custom-file">
                <input type="file">
                <span class="icon"></span>
            </label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-text-center ion-padding">
            <ion-button shape="round">Salvar</ion-button>
        </ion-col>
    </ion-row>

</ion-content>