@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&display=swap');

// Menu
a{
    color: var(--ion-color-light);
    text-decoration: none;
    font-size: 1.4em;
    margin: 3em 0.5em;
}

a:hover{
    color: var(--ion-color-secondary);
}

// Procedimento

#container{
    min-height: calc(100vh - 112px);
}

.logo{
    height: 48px;
    margin-left: 25px;
}

.tituloPagina{
    font-size: 2em;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.elementos{
    background: var(--ion-color-tertiary);
    border-radius: 2.5em;
    margin: 0.8em 2em 2em 2em;
    padding: 0.8em 3.5em;
}

.primeiraLinha{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.divInicio{
    display: flex;
    align-items: center;
}

.titulo{
    font-weight: bolder;
    font-size: 1.5em;
}

.elemento{
    border-bottom: 1px solid var(--ion-color-primary);
    height: 15vh;
}

.elemento:last-child{
    border-bottom: none;
    padding-top: 10px;
}