<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="primary" class="ion-padding">
    <div><a href="../home">Agenda</a></div>
    <div><a href="../pet">Pets</a></div>
    <div><a href="../tutor">Tutores</a></div>
    <div><a href="../procedimentos">Tipos de procedimento</a></div>
    <div><a href="../pacote">Pacotes</a></div>
    <div><a href="">Pagamento</a></div>
    <div><a href="../servico">Serviços</a></div>
  </ion-content>
</ion-menu>



  <ion-header [translucent]="true">
    <ion-toolbar color="primary" id="main-content">
      <ion-title>Prudente Casa Pet</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary" id="main-content">
      <ion-title>Prudente Casa Pet</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<div id="container">
  <ion-row>
    <ion-col size="9" id="coluna">
      <div class="calendario">
        <div class="cabecalho"><ion-icon name="chevron-back-sharp" class="mudarMes" (click)="mesAnterior()"></ion-icon><h1>{{meses[mes]}} - {{ano}}</h1><ion-icon name="chevron-forward-sharp" class="mudarMes" (click)="proximoMes()"></ion-icon></div>
        <hr>
        <div class="semana">
            <div class="dia-semana">Dom</div>
            <div class="dia-semana">Seg</div>
            <div class="dia-semana">Ter</div>
            <div class="dia-semana">Qua</div>
            <div class="dia-semana">Qui</div>
            <div class="dia-semana">Sex</div>
            <div class="dia-semana">Sab</div>
        </div>
        <div class="dias">
          <div class="dia prev" *ngFor="let i of generateRange(priMesAnt, antDia); let index = index">
            <div class="numeroDia">{{i}}</div>
            <div class="agendamentos">
              <div class="agendamento" *ngIf="verificarArray(buscarAPI('agendamento', gerarDataAnt(ano, mes, i)))">
                  <p class="agendamentoDoDia" *ngFor="let agend of buscarAPI('agendamento', gerarDataAnt(ano, mes, i))">{{gerarAgendamento(agend)}}</p>
              </div>
            </div>
          </div>
          <div class="dia" *ngFor="let i of generateRange(1, ultDia); let index = index">
            <div class="numeroDia">{{i}}</div>
            <div class="agendamentos">
              <div class="agendamento" *ngIf="verificarArray(buscarAPI('agendamento', gerarData(ano, mes, i)))">
                  <p class="agendamentoDoDia" *ngFor="let agend of buscarAPI('agendamento', gerarData(ano, mes, i))">{{gerarAgendamento(agend)}}</p>
              </div>
            </div>
          </div>
          <div class="dia prev" *ngFor="let i of generateRange(1, proxDias); let index = index">
            <div class="numeroDia">{{i}}</div>
            <div class="agendamentos">
              <div class="agendamento" *ngIf="verificarArray(buscarAPI('agendamento', gerarDataProx(ano, mes, i)))">
                  <p class="agendamentoDoDia" *ngFor="let agend of buscarAPI('agendamento', gerarDataProx(ano, mes, i))">{{gerarAgendamento(agend)}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    </ion-col>
    <ion-col size="3" class="ion-text-center">
      <div class="postit">
        <p class="titulo"></p>
        <ul>
          <li>aaa</li>
          <li>aaa</li>
        </ul>
      </div>
      <div class="postit">
        <p class="titulo"></p>
        <ul>
          <li>aaa</li>
          <li>aaa</li>
        </ul>
      </div>
    </ion-col>
  </ion-row>
</div>

<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>
</ion-content>