<div class="container">
    <ion-row>
        <ion-col size="12" class="centro">
            <ion-title class="ion-text-center">Atualizar</ion-title>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-padding centro">
            <label for="valor_diaria" class="etiqueta">Valor da diária</label>
            <input type="text" name="valor_diaria" id="valor_diaria" class="input" [(ngModel)]="valor_diaria">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-text-center ion-padding botao">
            <ion-button shape="round"  (click)="atualizarServico(customData.cod_servico)">Salvar</ion-button>
        </ion-col>
    </ion-row>
</div>