<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="primary" class="ion-padding">This is the menu content.</ion-content>
</ion-menu>



  <ion-header [translucent]="true">
    <ion-toolbar color="primary" id="main-content">
      <ion-title>Prudente Casa Pet</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary" id="main-content">
      <ion-title>Prudente Casa Pet</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<div id="container">
  <ion-row>
    <ion-col size="9" id="coluna">
      <div class="calendario">
        <div class="cabecalho"><ion-icon name="chevron-back-sharp"></ion-icon><h1>Agosto - 2023</h1><ion-icon name="chevron-forward-sharp"></ion-icon></div>
        <hr>
        <div class="semana">
            <div class="dia-semana">Dom</div>
            <div class="dia-semana">Seg</div>
            <div class="dia-semana">Ter</div>
            <div class="dia-semana">Qua</div>
            <div class="dia-semana">Qui</div>
            <div class="dia-semana">Sex</div>
            <div class="dia-semana">Sab</div>
        </div>
        <div class="dias">
            <div class="dia prev"><div class="numeroDia">30</div><div class="agendamentos"></div></div>
            <div class="dia prev"><div class="numeroDia">31</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">1</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">2</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">3</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">4</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">5</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">6</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">7</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">8</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">9</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">10</div><div class="agendamentos"><p class="agendamentoDoDia">Creche - Lili</p><p class="agendamentoDoDia">Creche - Lili</p><p class="agendamentoDoDia">Creche - Lili</p><p class="agendamentoDoDia">Creche - Lili</p></div></div>
            <div class="dia"><div class="numeroDia">11</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">12</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">13</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">14</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">15</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">16</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">17</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">18</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">19</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">20</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">21</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">22</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">23</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">24</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">25</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">26</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">27</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">28</div><div class="agendamentos"></div></div>
            <div class="dia atual"><div class="numeroDia">29</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">30</div><div class="agendamentos"></div></div>
            <div class="dia"><div class="numeroDia">31</div><div class="agendamentos"></div></div>
            <div class="dia prev"><div class="numeroDia">1</div><div class="agendamentos"></div></div>
            <div class="dia prev"><div class="numeroDia">2</div><div class="agendamentos"></div></div>
            <div class="dia prev"><div class="numeroDia">3</div><div class="agendamentos"></div></div>
            <div class="dia prev"><div class="numeroDia">4</div><div class="agendamentos"></div></div>
            <div class="dia prev"><div class="numeroDia">5</div><div class="agendamentos"></div></div>
            <div class="dia prev"><div class="numeroDia">6</div><div class="agendamentos"></div></div>
            <div class="dia prev"><div class="numeroDia">7</div><div class="agendamentos"></div></div>
            <div class="dia prev"><div class="numeroDia">8</div><div class="agendamentos"></div></div>
            <div class="dia prev"><div class="numeroDia">9</div><div class="agendamentos"></div></div>
        </div>
    </div>
    </ion-col>
    <ion-col size="3">

    </ion-col>
  </ion-row>
</div>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>